<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AQAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>backlight-level</key>
	<data>
	AwI=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	j4KsBQAAAACjFIwpN+qxtQ==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	j4KsBQAAoxSMKTfqsbU=
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>efi-boot-device</key>
	<string>&lt;array&gt;&lt;dict&gt;&lt;key&gt;IOMatch&lt;/key&gt;&lt;dict&gt;&lt;key&gt;IOProviderClass&lt;/key&gt;&lt;string&gt;IOMedia&lt;/string&gt;&lt;key&gt;IOPropertyMatch&lt;/key&gt;&lt;dict&gt;&lt;key&gt;UUID&lt;/key&gt;&lt;string&gt;C44D44BA-94AF-489F-96F9-E8361993135C&lt;/string&gt;&lt;/dict&gt;&lt;/dict&gt;&lt;key&gt;BLLastBSDName&lt;/key&gt;&lt;string&gt;disk2s2&lt;/string&gt;&lt;/dict&gt;&lt;dict&gt;&lt;key&gt;IOEFIDevicePathType&lt;/key&gt;&lt;string&gt;MediaFilePath&lt;/string&gt;&lt;key&gt;Path&lt;/key&gt;&lt;string&gt;¹15AA5-0B54-4704-A0FC-8D5E8D31F525\System\Library\CoreServicesoot.efi&lt;/string&gt;&lt;/dict&gt;&lt;/array&gt;</string>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAdAQEGAAAAAxYQAAEAAAAAAAAAAAAAAAQBKgACAAAAKEAG
	AAAAAADQ7ZQuAAAAAMMjZ6DJqBRKkDEyEVOCvzUCAgQDJAD3/HS+fAvzSZFHAfQELmhC
	ukRNxK+Un0iW+eg2GZMTXAQEmgBcADIANwAxADEANQBBAEEANQAtADAAQgA1ADQALQA0
	ADcAMAA0AC0AQQAwAEYAQwAtADgARAA1AEUAOABEADMAMQBGADUAMgA1AFwAUwB5AHMA
	dABlAG0AXABMAGkAYgByAGEAcgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkAYwBlAHMAXABi
	AG8AbwB0AC4AZQBmAGkAAAB//wQA
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEQ==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	CbDwAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	MjAxN21icAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AkMPAAAG
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajEzMGEAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	Um9kZXJpY2sncyBNYWNCb29rIFBybw==
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDcAQIDBAUGBwgJCgsMDQ4QDRENEhMUFRYdXxAPdW5yZWdpc3RlclN0YXRl
	XxASZW5hYmxlZERhdGFjbGFzc2VzWWF1dGhUb2tlbl5kaXNhYmxlQ29udGV4dFZ1c2Vy
	aWRdZW5hYmxlQ29udGV4dFh1c2VybmFtZVhwZXJzb25JRFdhZGRUaW1lVGd1aWRYdXNl
	ckluZm9fEBNkYXRhY2xhc3NQcm9wZXJ0aWVzEAChD18QIWNvbS5hcHBsZS5EYXRhY2xh
	c3MuRGV2aWNlTG9jYXRvcl8QzEVBQUNBQUFBQkx3SUFBQUFBRnVjQVlvUkRtZHpMbWxq
	Ykc5MVpDNWhkWFJvdlFCdHBFbjVGZm50Y1RQNVo5Wjg5Y1pPdkNuZ0Ezd0hpcUx6a2VL
	dmF5VE4yZEFIZ0gxSWxTdklyTFN6U2dNNVhEVWV0RmM5TlNOdEtMbjREM0hzUkdfMDZj
	YTJVZjF6TmdNck5LSmZVekROMWFqalM1ZDVYZUJBbmU1RUoyaW9GM0JCbTlPbzdpaWFl
	Qi1KMnI3TUJFXzRIVDlsR2d+fhEB9V8QF2thcjFlbXN0cmFuZEBpY2xvdWQuY29tWzE2
	MTQwMzYxNjEwI0HW5wB5CAVTXxAkQjk4OEZFNjYtMUJCOC00MUNELUI4MzYtRThCNzM5
	QzM3QUVE0xcYGRobHF8QFUluVXNlT3duZXJEaXNwbGF5TmFtZV8QE0luVXNlT3duZXJG
	aXJzdE5hbWVfEBJJblVzZU93bmVyTGFzdE5hbWVfEBVSb2RlcmljayBLYXJsZW1zdHJh
	bmRYUm9kZXJpY2tcS2FybGVtc3RyYW5k0Q8e1B8gISIjJCUmVmFwc0Vudlhob3N0bmFt
	ZV1hdXRoTWVjaGFuaXNtVnNjaGVtZVpQcm9kdWN0aW9uXxATcDU2LWZtaXAuaWNsb3Vk
	LmNvbVV0b2tlblVodHRwcwAIACEAMwBIAFIAYQBoAHYAfwCIAJAAlQCeALQAtgC4ANwB
	qwGuAcgB1AHdAgQCCwIjAjkCTgJmAm8CfAJ/AogCjwKYAqYCrQK4As4C1AAAAAAAAAIB
	AAAAAAAAACcAAAAAAAAAAAAAAAAAAALa
	</data>
	<key>prev-lang:kbd</key>
	<data>
	ZW46MA==
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAdAQEGAAAAAxcQAAEAAAAAAAAAAAAAAAQBKgACAAAAKEAG
	AAAAAADQ7ZQuAAAAAMMjZ6DJqBRKkDEyEVOCvzUCAgQDJAD3/HS+fAvzSZFHAfQELmhC
	pVoRJ1QLBEeg/I1ejTH1JX//BAA=
	</data>
</dict>
</plist>