<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>OsxAptioFixDrv-RelocBase</key>
	<data>
	AJCwCQAAAAA=
	</data>
	<key>backlight-level</key>
	<data>
	//8=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	j4KsBQAAAACjFIwpN+qxtQ==
	</data>
	<key>bluetoothInternalControllerInfo</key>
	<data>
	j4KsBQAAoxSMKTfqsbU=
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkM0NEQ0NEJBLTk0
	QUYtNDg5Ri05NkY5LUU4MzYxOTkzMTM1Qzwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMnMyPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+uTE1QUE1LTBCNTQt
	NDcwNC1BMEZDLThENUU4RDMxRjUyNVxTeXN0ZW1cTGlicmFyeVxDb3JlU2VydmljZXMI
	b290LmVmaTwvc3RyaW5nPjwvZGljdD48L2FycmF5Pg==
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAdAQEGAAAAAxYQAAEAAAAAAAAAAAAAAAQBKgACAAAAKEAG
	AAAAAADQ7ZQuAAAAAMMjZ6DJqBRKkDEyEVOCvzUCAgQDJAD3/HS+fAvzSZFHAfQELmhC
	ukRNxK+Un0iW+eg2GZMTXAQEmgBcADIANwAxADEANQBBAEEANQAtADAAQgA1ADQALQA0
	ADcAMAA0AC0AQQAwAEYAQwAtADgARAA1AEUAOABEADMAMQBGADUAMgA1AFwAUwB5AHMA
	dABlAG0AXABMAGkAYgByAGEAcgB5AFwAQwBvAHIAZQBTAGUAcgB2AGkAYwBlAHMAXABi
	AG8AbwB0AC4AZQBmAGkAAAB//wQA
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEQ==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	BpAHAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	ZDgAN21icAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AhEPAAAW
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ZDgAZ2EAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	Um9kZXJpY2vigJlzIE1hY0Jvb2sgUHJv
	</data>
	<key>fmm-mobileme-token-FMM</key>
	<data>
	YnBsaXN0MDDdAQIDBAUGBwgJCgsMDQ4PFhcOGA4ZGhscHR9fEA91bnJlZ2lzdGVyU3Rh
	dGVYdXNlckluZm9ZYXV0aFRva2VuXxARb3NVc2VyRGlzYXBwZWFyZWReZGlzYWJsZUNv
	bnRleHRWdXNlcmlkXWVuYWJsZUNvbnRleHRYdXNlcm5hbWVYcGVyc29uSURXYWRkVGlt
	ZVRndWlkXxASZW5hYmxlZERhdGFjbGFzc2VzXxATZGF0YWNsYXNzUHJvcGVydGllcxAA
	0xAREhMUFV8QFUluVXNlT3duZXJEaXNwbGF5TmFtZV8QE0luVXNlT3duZXJGaXJzdE5h
	bWVfEBJJblVzZU93bmVyTGFzdE5hbWVfEBVSb2RlcmljayBLYXJsZW1zdHJhbmRYUm9k
	ZXJpY2tcS2FybGVtc3RyYW5kXxDMRUFBQ0FBQUFCTHdJQUFBQUFGdWNBWW9SRG1kekxt
	bGpiRzkxWkM1aGRYUm92UUJ0cEVuNUZmbnRjVFA1WjlaODljWk92Q25nQTN3SGlxTHpr
	ZUt2YXlUTjJkQUhnSDFJbFN2SXJMU3pTZ001WERVZXRGYzlOU050S0xuNEQzSHNSR18w
	NmNhMlVmMXpOZ01yTktKZlV6RE4xYWpqUzVkNVhlQkFuZTVFSjJpb0YzQkJtOU9vN2lp
	YWVCLUoycjdNQkVfNEhUOWxHZ35+CREB9V8QF2thcjFlbXN0cmFuZEBpY2xvdWQuY29t
	WzE2MTQwMzYxNjEwI0HW5wB5CAVTXxAkQjk4OEZFNjYtMUJCOC00MUNELUI4MzYtRThC
	NzM5QzM3QUVEoR5fECFjb20uYXBwbGUuRGF0YWNsYXNzLkRldmljZUxvY2F0b3LRHiDU
	ISIjJCUmJyhWYXBzRW52WGhvc3RuYW1lXWF1dGhNZWNoYW5pc21Wc2NoZW1lWlByb2R1
	Y3Rpb25fEBNwNTYtZm1pcC5pY2xvdWQuY29tVXRva2VuVWh0dHBzAAgAIwA1AD4ASABc
	AGsAcgCAAIkAkgCaAJ8AtADKAMwA0wDrAQEBFgEuATcBRAITAhQCFwIxAj0CRgJtAm8C
	kwKWAp8CpgKvAr0CxALPAuUC6wAAAAAAAAIBAAAAAAAAACkAAAAAAAAAAAAAAAAAAALx
	</data>
	<key>prev-lang:kbd</key>
	<data>
	ZW46MA==
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAEA//8AAAQBKgAEAAAAAPgvNgAAAACIGm4FAAAA
	AMLTW9p3nzVDodq1nx21LUICAgQDJAD3/HS+fAvzSZFHAfQELmhCPuEGJ8BG8DCnJ+l2
	KxmCE3//BAA=
	</data>
</dict>
</plist>